<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Indonesian Food for you">
  <meta name="theme-color" content="#DB0000"/>

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">

  <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet" type="css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  
  <title>Indonesian Legacy</title>
</head>
<body>
  <header class="header">
    <a href="#mainContent" class="skip-link"> Skip to content</a>
    <div class="header_menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="header_inner">
      <h1>INDONESIAN FOOD LEGACY</h1>
    </div>
    <nav id="drawer" class="header_nav">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorites">Favorites</a></li>
        <li><a href="https://www.linkedin.com/in/faiz-gunawan/">About Us</a></li>
      </ul>
    </nav>
  
  </header>

  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Indonesian Restaurant</h1>
      <p class="hero_tagline">Restaurant Indonesia yang mewariskan makanan khas Indonesia</p>
    </div>
  </div>

  <main tabindex="0" id="mainContent">
  </main>
  <footer>
    <ul>
      <li><a class="ftr" href="#">Copyright © 2022 - Indonesian Legacy</a></li>
    </ul>
  </footer>
</body>
</html>
